* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
}

img {
  object-fit: cover;
}

main {
  display: flex;
  flex-flow: column;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  gap: 20px;
  padding-block: 50px;
}

h1 {
  text-align: center;
  font-size: 52px;
}

.sign-up {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 14px;
  border: solid #ffffff 1px;
  width: 120px;
}

.sign-up:hover {
  background-color: white;
  color: black;
  border: solid black 1px;
  cursor: pointer;
}

/*========
    NAV
=========*/

nav {
  display: flex;
  justify-content: space-between;
  background-color: #e9d599;
  padding: 5px;
  align-items: center;
}

.logo {
  margin-left: 50px;
  max-width: 40px;
}

nav div {
  margin-right: 80px;
  display: flex;
  gap: 30px;
}

.nav-links {
  text-decoration: none;
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: black;
}

/*=========== 
  SECTION ONE
===========*/

.container.one {
  justify-content: space-evenly;
  background-color: #e9d599;
}

.text {
  max-width: 500px;
  display: flex;
  flex-flow: column;
  gap: 15px;
  justify-content: space-around;
}

.learn-pottery {
  max-width: 500px;
}

.header-left{
  text-align: left;
}

.text .sign-up {
  margin-left: auto;
}

.text p {
  font-size: 18px;
  color: white;
  line-height: 30px;
}

/*=========== 
  SECTION TWO
============*/
.image-card {
  width: 300px;
  height: 300px;
  text-align: center;
}

.image-card img {
  width:200px;
  height: 200px;
  box-sizing: border-box;
  border: solid rgb(94, 44, 0) 4px;
  border-radius: 10px;
}

.image-card p {
  margin-top: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Winky Rough", sans-serif;
  color: rgb(94, 44, 0);
}

/*=============
  SECTION THREE
==============*/

.container.three {
  background-color: grey;
}

.quote {
  font-size: 62px;
  margin: 0px 90px 0px 90px;
  text-align: center;
  padding-block: 30px;
}

.quote-text {
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
}

.quote-author {
  text-align: end;
  margin-right: 70px;
  font-family: "Playfair Display", sans-serif;
}

/*============
  SECTION FOUR
=============*/
.container.four {
  background-color:#e9d599;
  max-width: 800px;
  margin: 0px auto 100px;
  border-radius: 5px;
  align-items: center;
  gap: 80px;
}

/*======
  FOOTER
=======*/
footer {
  margin-top: auto;
  text-align: center;
  background-color: rgb(106, 77, 9);
  color: white;
}

footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  color: white;
}